{% extends "MBF/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row row-offset">
<div class="col-lg-4 col-lg-offset-4">
<div class="well bs-component">
<form action="{% url 'MBF:create-caretaker' %}" method="post" class="form-horizontal">
  <fieldset>
    <legend>Add a Caretaker</legend>
    {% csrf_token %}
    {% bootstrap_form user_form layout='inline' %}
    {% bootstrap_form caretaker_form layout='inline' %}

    <p class="text-center">
      <button type="submit" class="btn btn-primary ">Submit</button>
      <button type="reset" class="btn btn-default ">Reset</button>
      <a href="{% url 'MBF:MBF-dashboard' %}" class="btn btn-danger">Cancel</a>
    </p>
  </fieldset>
</form>
</div>
</div>
</div>
{% endblock %}
