{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link href="https://bootswatch.com/spacelab/bootstrap.min.css" rel="stylesheet">
  {% bootstrap_javascript %}
  <title>{% block title %}Baby Status{% endblock %}</title>
  <link rel="icon" href="{% static 'MBF/MBF.ico' %}">
</head>

{% block content %}

<form action="{% url 'MBF:create-account' %}" method="POST">
    {% csrf_token %}
    <legend>Create an Account</legend>

    {% if form.errors %}
        <p style="color: red;">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    {{ user_form }}
    {{ caretaker_form }}
    <input type="submit" value="OK">
</form>


{% endblock %}
