<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://bootswatch.com/spacelab/bootstrap.min.css" rel="stylesheet">
    {% bootstrap_javascript %}
    <title>M.B.F. Home</title>
    <link rel="icon" href="{% static 'MBF/MBF.ico' %}">
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Welcome to Mom's Best Friend</h1>
      <img src="{% static 'MBF/MBF.png' %}" alt="Mothers Best Friend logo" height="303" width="400">
      <!-- <a href="#" class="btn btn-primary btn-lg btn-block">Login</a> -->
      <a href="/login/" class="btn btn-primary btn-lg">Login</a>
      <a href="/MBF/create-account/" class="btn btn-primary btn-lg">Create Account</a>
    </div>

    <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>
  </body>
</html>
